<footer class="u-clearfix u-footer u-palette-1-light-3" id="footer">
  <div class="u-clearfix u-sheet u-valign-top-lg u-valign-top-md u-valign-top-sm u-sheet-1">
    <div class="data-layout-selected u-border-2 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-clearfix u-expanded-width u-gutter-0 u-layout-custom-xs u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xl u-size-60-xs u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="images/brand.png" alt="" data-image-width="1024" data-image-height="1024">
              <div class="u-position u-position-2">
                <div class="u-block">
                  <div class="u-block-container u-clearfix">
                    <h5 class="u-block-header u-text">Адрес</h5>
                    <div class="u-block-content u-text">KVK: 89654889<br>Boschjesstraat 22B<br>1541KK Koog aan de Zaan</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-shape-rectangle u-size-30-lg u-size-30-md u-size-30-sm u-size-30-xl u-size-60-xs u-layout-cell-2">
            <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-2">
              <div class="u-position u-position-3">
                <div class="u-block">
                  <div class="u-block-container u-clearfix">
                    <h5 class="u-align-center-xs u-block-header u-text">Контакты</h5>
                    <div class="u-align-center-xs u-block-content u-text">
                      Email: <a href="mailto:info@geniustax.nl" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">info@geniustax.nl</a><br>
                      Телефон: <a href="tel:+31644492189" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-2">+31644492189</a><br>
                      Часы работы: пн-пт 9:00 - 19:00
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="u-align-center u-small-text u-text u-text-variant u-text-5">© 2025 Все права защищены</p>
    <a href="" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-1-light-1 u-text-palette-1-base u-btn-3">Privacy Policy (GDPR)</a>
    <a href="Terms-of-use.html" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-hover-palette-1-dark-1 u-border-no-left u-border-no-right u-border-no-top у-border-palette-1-base u-btn u-button-style u-hover-none u-none u-text-hover-palette-1-light-1 u-text-palette-1-base u-btn-4" title="Terms of use" target="_blank">Terms &amp; Conditions</a>
    <div class="u-align-left u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-25 u-line-1"></div>
  </div>
</footer>
